.title {
}

.subtitle {
}

.text {
  p + p {
    margin-top: 15px;
  }

  a {
    text-decoration: underline;
  }
}

.input {
  &::placeholder {
    transition: opacity 0.3s ease;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

.textarea {
  &::placeholder {
    transition: opacity 0.3s ease;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

.btn {
  display: flex;

  transition: 0.3s;

  &:disabled {
    pointer-events: none;
    background: rgba(255, 255, 255, 0.4);
    color: var(--color-main);
  }

   
}

//modal
 

//select

.select {
  display: inline-flex;
  align-items: center;
  z-index: 15;
  width: 100%;
  &.select-selected-items {
    &.addtour-section__select {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &.select-placeholder {
    .select__trigger {
      padding-top: 18px;
      padding-bottom: 8px;
      & > .icon {
        position: relative;
        top: -5px;
      }
    }
  }

  .select-placeholder {
    // .select-placeholder__trigger-placeholder

    &__trigger-placeholder {
      position: absolute;
      top: 8px;
      left: 16px;
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;

      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--color-dark4);
      display: flex;
      align-items: center;
    }

    // .select-placeholder__trigger-placeholder-icon

    &__trigger-placeholder-icon {
      width: 12px;
      height: 12px;
      fill: var(--color-dark4);
      margin-right: 4px;
    }
  }

  &.hidden {
    pointer-events: none;
    mix-blend-mode: normal;
    opacity: 0.36;
  }



  &__title {
    font-weight: normal;
    font-size: 12px;
    line-height: 133%;
    display: block;
    margin-right: 8px;
    color: var(--color-dark4);
  }

  // .select__wrapper

  &__wrapper {
    position: relative;
    user-select: none;
    width: 100%;

    a {
      text-decoration: none;

      display: flex;
      align-items: center;
      .icon {
        margin-right: 5px;
      }
    }
  }

  // .select__content

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;

    transition: 0.3s;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-dark2);

    &.open {
      .select__trigger {
        color: var(--color-hover-text);
        border-color: var(--color-hover-text);
        .icon {

          svg {

          }
        }
        > .icon {
          svg {
            fill: var(--color-hover-text);
            transform: rotate(180deg);
          }

        }

      }

      .select__dropdown {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
    &.disabled {
      .icon {
        display: none;
      }
      .select__trigger {
        cursor: default;
      }
      a {
        cursor: default;
      }
    }
  }

  // .select__trigger

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    min-height: 56px;

    appearance: none;
    width: 100%;
    border-bottom: 1px solid #B1B1B1;
    box-shadow: 15px 15px 20px rgba(228, 228, 228, 0.25);
    padding-left: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: var(--color-text);
    cursor: pointer;
    img {
      width: 28px;
      height: 28px;
      object-fit: cover;
      margin-right: 10px;
    }
    &:hover {
      a, b, span {
        // color: var(--color-hover-blue);
      }
    }

    input {
      width: 100%;
      background-color: inherit;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
    b {
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: var(--dark-green);

      transition: .3s linear;
      &:hover {
        color: var(--green);
      }
    }
    span {

    }
    > a,
    span {
      display: flex;
      align-items: center;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;

    }


    .icon {
      margin-left: 15px;
      width:22px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s linear;
      min-height: 40px;
      svg {
        width: 18px;
        fill: var(--color-text);
        // transform: rotate(-90deg);
        height: 18px;
        transition: .3s linear;
      }
    }
  }

  // .select__dropdown

  &__dropdown {
    position: absolute;
    display: block;
    top:calc(100% + 6px);
    left: 0;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 15;
    overflow: hidden;
    width: 100%;
    padding: 0 9px;
    background: #fff;
    box-shadow: 3px 3px 15px rgba(177, 177, 177, 0.25);
  }


  // .select__options

  &__options {
    max-height: 175px;

    .simplebar-vertical {
      width: 6px;
      background: #E1E1E1;
      border-radius: 6px;
      right: 0px;
      top: 16px;
      bottom: 17px;
      .simplebar-scrollbar {
        background: $indigo-500;
        border-radius: 6px;
        &:before {
          display: none;
        }
      }

    }
    .select__option {

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  // .select__option

  &__option {
    position: relative;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #585858;
    min-height: 56px;
    border-bottom: 1px solid rgba(177, 177, 177, 0.5);
    filter: drop-shadow(15px 15px 20px rgba(228, 228, 228, 0.25));
    width: 100%;
    img {
      width: 28px;
      height: 28px;
      object-fit: cover;
      margin-right: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: var(--color-hover-text);
      filter: none;
      b, span {
        color: var(--green);
      }
    }

    &.selected {
      &:before {
        opacity: 1;
      }
    }
  }

  // .select__checkboxs

  &__checkboxs {
    overflow-y: auto;
    @media (min-width: 650px) {
      max-height: 299px;
    }
    @media (max-width: $widthm) {
      padding: 8px 16px;
    }
  }

  // .select__checkbox

  &__checkbox {
    position: relative;
    display: block;
    padding: 10px 16px;
    transition: 0.3s;
    &.checked {
      background-color: var(--color-muted);
    }

    transition: 0.3s;
    &:last-child {
      margin: 0;
    }

    @media (max-width: $widthm) {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &.checkbox {
      span::before {
        left: 16px;
      }
      span::after {
        left: 16px;
      }
    }

    &:hover {
      background-color: var(--color-muted);
      color: var(--color-base);
      &.checkbox {
        span::before {
          border-color: var(--color-base);
        }
      }
    }

    &.selected {
      background-color: var(--color-base);
      color: var(--color-main);
    }
  }

  &__on-map {
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-top: 6px;
    padding: 6px 12px 7px 12px;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-main);
    background-color: var(--color-base);
    transition: 0.3s;
    &:hover {
      color: var(--color-base);
      background-color: var(--color-muted);
    }
  }
}

.select {
  padding: 0 10px;
  background-color: $indigo-300;
  &__wrapper {

  }
  &__content {
      color: inherit;

  }
  &__trigger {
      padding:0;
      border: none;
      min-height: 30px;
      color: #fff;
      box-shadow: none;
      opacity: 1;
      .icon {
          margin-left: 5px;
          min-height: inherit;
          svg {
              fill: #fff;
          }
      }
  }
  &__dropdown {
      min-width: 150px;
      top: initial;
      bottom: calc(100% + 10px);
  }
  &__options {
      padding:10px;
  }
  &__option {
      min-height: 30px;
      border-bottom: 0;
  }
}

.btn {

  &--purple {
    color: #fff;
    border-color: #6610f2;
    background: #6610f2;
    &:hover {
      color: #fff;
      background: #520dc2;
      border-color: #520dc2;
    }
  }
}